.wrapper {
  background: rgba(33,33,58,.54);
  padding: 20px;
}

.container {
  max-width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  margin: auto;
  position: relative;
}

.icon {
  position: absolute;
  right: -40px;
  top: 0;
  padding: 5px;
  cursor: pointer;
}